/*Limpar formatações padrão*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family:16px "Roboto", "Helvetica Neue", "Helvetica",  "Arial", sans-serif;
	background-image: url(../imagens/panfletos\ brigadeiro\ docinho\ doces\ gourmet.png);
}

/*
**** Layout ****
*/
#area-cabecalho {
	background-color: #3EB2DD;
	padding: 15px;
	text-align: center;
	
}

#area-logo, #area-menu {
	padding: 10px;
	
}

#area-principal {
	width: 920px;
	margin: 0 auto;
	padding: 15px;
	
}

#area-postagens {
	width: 660px;
	
	
}

#area-lateral {
	width: 240px;
	float: right;
	
}

.postagem{
	padding: 20px;
	margin-bottom: 20px;
	background: #e3e5d1;
	margin-top: 20px;
	
}
.postagem2{
	
	
	background: #e3e5d1;
	
	
}

.conteudo-lateral {
	background: #e3e5d1;
	padding: 10px;
	margin-bottom: 20px;
	
}

.postagem-lateral {
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px dotted #CCC;
	
}

#rodape {
	clear: both;
	text-align: center;
	padding: 15px;
	background: #CCC;
	
}

/*
**** Formatação do menu ****
*/
a {
	text-decoration: none;	
}

a:link, a:visited {
	color: #5BB9EF;
	padding: 3px;
}

a:hover {
	text-decoration: underline;
	font-weight: bold;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
	color: #FFF;
	padding: 8px 12px;
}

#area-cabecalho a:hover {
	color: #05131a;
	background: #FFF;
	text-decoration: none;
}

/*
**** Formatações em geral ****
*/
h1 {
	color: #be3030;
	font-size: 2.5em;
}

h2 {

color:#341d08 ;
}

h4 {
	color: #e9e8e8;
	background: #341d08CC;
	padding: 5px;
}

.branco{
	color: white;
}

.data-postagem {
	font-size: 0.8em;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
}
.produto{
	padding-top: 20px;
}
.produtod{

	padding-top: 20px;
	float: right;
	position: relative;
	top: -783px;

}
.produtof{

	padding-top: 20px;
	float: right;
	position: relative;
	top: -532px;
	left: 180px;

}

.produtog{

	padding-top: 20px;
	float: right;
	position: relative;
	top: -272px;
	left: 360px;

}
.produtoh{

	padding-top: 20px;

	position: absolute;
	top: 1510px;
	left: 651px;

}
.produtoj{

	padding-top: 20px;

	position: absolute;
	top: 1510px;
	left: 651px;

}






